fastapi
uvicorn[standard]
pydantic
langgraph
langchain-core
langchain-groq
langchain-openai
langchain-qdrant
tavily-python
arxiv
sse-starlette
python-dotenv
requests
qdrant-client
langchain-community
